.card {
    width: 100%;
}

.card-img-top {
    transform: rotateY(180deg);
}

.card:hover {
    cursor: pointer;
}

.matched {
    transform: rotateY(180deg);
}

.matched img {
    opacity: 0.5;
}

.flipped {
    transform: rotateY(180deg);
}