<div class="row">
    <div class="col">
        Try count: {{ tryCount }}
    </div>
    <div class="col">
        Match Count: {{ matchedCount }}
    </div>
    <div class="col">
        <div class="input-group mb-3 float-right">
            <div class="input-group-prepend">
              <label class="input-group-text" for="deckSizeSelect">Deck Size</label>
            </div>
            <select class="custom-select" 
                #deckSizeSelect
                [value]="deckSize"
                (change)='onDeckSizeSelected(deckSizeSelect.value)'>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
    </div>
    <div class="col">
        <button class="btn btn-info" (click)="restart()">Restart Game</button>
    </div>
</div>
<div class="row row-cols-6 row-cols-sm-4 row-cols-md-6">
    <div class="m-2" *ngFor="let c of cards; let idx=index">
        <app-card [data]="c" (cardClicked)="cardClicked(idx)">
        </app-card>
    </div>
</div>
