<div class="jumbotron">
    <h1 class="display-4">The rules of the game</h1>
    <p class="lead">
        The rules are simple. 
        We laid out cards on their backs in the form of a grid. 
        We could only flip two cards one after the other. 
        If they matched, we remove those cards. And if they didn’t, we turned them again. 
        The winner is the one who manages to remove all cards by remembering their pairs!
    </p>
    <hr class="my-4">

    <h5>Deck size: {{deckSize}} pairs</h5>
    <div class="btn-toolbar mb-2" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-secondary" value="3" (click)="setDeckSize($event.target.value)">3</button>
            <button type="button" class="btn btn-secondary" value="4" (click)="setDeckSize($event.target.value)">4</button>
            <button type="button" class="btn btn-secondary" value="5" (click)="setDeckSize($event.target.value)">5</button>
            <button type="button" class="btn btn-secondary" value="6" (click)="setDeckSize($event.target.value)">6</button>
            <button type="button" class="btn btn-secondary" value="7" (click)="setDeckSize($event.target.value)">7</button>
            <button type="button" class="btn btn-secondary" value="8" (click)="setDeckSize($event.target.value)">8</button>
            <button type="button" class="btn btn-secondary" value="9" (click)="setDeckSize($event.target.value)">9</button>
            <button type="button" class="btn btn-secondary" value="10" (click)="setDeckSize($event.target.value)">10</button>
        </div>
    </div>

    <a class="btn btn-primary btn-lg" (click)="startGame()" role="button">Play it!</a>
</div>
